<!-- <div class="id-card">
 <div class="top-bar">
  <div >
    <div class="top-logo">
      <div class="logo-image">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSucOF2axw5L7E8uXEWKqLTh-_Sjgq4r2S1WzTw_s&s" height="60" width="50" alt="Left Logo">
      </div>
      <div class="">
        <h1>MFUKO WA HIFADHI YA JAMII ZANZIBAR</h1>
        <h1>ZANZIBAR SOCIAL SECURITY FUND</h1>
        <h2>KITAMBULISHO CHA MWANACHAMA</h2>
        <h2>MEMBER IDENTIFICATION CARD</h2>
      </div>
    </div>
    
  </div>
 </div>
 
 <div class="content">
  <table>
    <tr>
      <td class="td">
        <div class="user-logo">
          <img src="https://static.vecteezy.com/system/resources/previews/000/439/863/original/vector-users-icon.jpg" height="90" width="100"  alt="">
         </div>
         <div class="Signature">
          <label style="margin-left: 8px; font-size: 10px;">Signature</label>
         </div>
      </td>
      <td>
        <div class="main-content">
          <div class="item">
            <label class="label-title" for="number">Nambari/Number</label>
            <input class="memberNumber" type="text" value="995956969" disabled>
          </div>
           <div>
            <label class="label-title" for="">Jina/Name</label>
            <input class="memberNumber" type="text" value="JAFAR KITWANA MWALIM" disabled>
           </div>
           <div>
            <label class="label-title" for="">Jinsia/Gender</label>
            <input class="memberNumber" type="text" value="Male" disabled>
           </div>
           <div>
            <label class="label-title" for="">Tarehe ya Kuzaliwa/D.O.B</label>
            <input class="memberNumber" type="text" value="Male" disabled>
           </div>
       </div>
      </td>
    </tr>
  </table>
    
    
 </div>


</div>
<button (click)="generatePDF()">Generate PDF</button> -->




 <!---------------------BACK SIDE-------------------------------->

 <!-- <div class="id-card">
 <div class="top-bar">
  <div>
    <img src="https://t3.ftcdn.net/jpg/02/55/97/94/360_F_255979498_vewTRAL5en9T0VBNQlaDBoXHlCvJzpDl.jpg" width="150" height="30" alt="">
  </div>
  <div class="barcode">
     <h1> Kadi hii mali ya /This identity Card is a property of</h1>
     <h1 style="">ZANZIBAR SOCIAL SECURITY FUND</h1>
  </div>
 </div>
 <hr>
 <div class="content">
   <div class="zssf-info">
   <h1 style="color: red;">Ukiokota tafadhali irudishe kwa / if found please return to</h1>
   <h1>The Managing Director</h1>
   <h1>Zanzibar Social Security Fund</h1>
   <h1>P.O.BOX 2716, Zanzibar, Tanzania</h1>
   </div>

   <div class="bottom-barcode">
    <img src="https://www.shutterstock.com/image-vector/barcode-product-distribution-icon-symbol-600w-2105506895.jpg" id="bar-image" alt="">
   </div>
</div> -->
<!--------------------------BACKSIDE END---------------------------->



<!---------------BARCODES GENERATION CODES HERE--------------------->

<svg  #barcodeElement></svg>

<!-------------------BARCOED END------------------------------------>





