<div class="id-card">
    <div class="top-bar">
     <div >
       <div class="top-logo">
         <div class="logo-image">
           <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSucOF2axw5L7E8uXEWKqLTh-_Sjgq4r2S1WzTw_s&s" height="60" width="50" alt="Left Logo">
         </div>
         <div class="">
           <h1>MFUKO WA HIFADHI YA JAMII ZANZIBAR</h1>
           <h1>ZANZIBAR SOCIAL SECURITY FUND</h1>
           <h2>KITAMBULISHO CHA MWANACHAMA</h2>
           <h2>MEMBER IDENTIFICATION CARD</h2>
         </div>
       </div>
       
     </div>
    </div>
    
    <div class="content">
     <table>
       <tr>
         <td>
           <div class="user-logo">
             <img src="https://static.vecteezy.com/system/resources/previews/000/439/863/original/vector-users-icon.jpg" height="90" width="100"  alt="">
            </div>
         </td>
         <td>
           <div class="main-content">
             <div class="item">
               <label class="label-title" for="number">Nambari/Number</label>
               <input class="memberNumber" type="text" value="995956969" disabled>
             </div>
              <div>
               <label class="label-title" for="">Jina/Name</label>
               <input class="memberNumber" type="text" value="JAFAR KITWANA MWALIM" disabled>
              </div>
              <div>
               <label class="label-title" for="">Jinsia/Gender</label>
               <input class="memberNumber" type="text" value="Male" disabled>
              </div>
              <div>
               <label class="label-title" for="">Tarehe ya Kuzaliwa/D.O.B</label>
               <input class="memberNumber" type="text" value="Male" disabled>
              </div>
          </div>
         </td>
       </tr>
     </table>
       
       
    </div>
   
   
   </div>
   <button (click)="generatePDF()">Generate PDF</button>
   
   
   